* {
  box-sizing: border-box;
}

.container {
  background-color: lightblue;
  display: grid;
  /* grid-auto-flow: row; */
  /* grid-template-rows: repeat(4, "100px"); */
  /* grid-auto-flow: dense; */
  /* grid-auto-rows: 100px; */
  /* height: 30vh;
  grid-auto-rows: 100px;
  gap: 1rem;
  justify-items: center; */

  /* align-items:start;
  justify-items: left;*/
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  color: white;
  font-size: 4rem;
  padding: 1rem;
  height: 200px;
  text-align: center;
  align-content: center;
}

.box-1 {
  background-color: green;
  /* grid-column-start: 4; */
}

.box-2 {
  background-color: blueviolet;

}

.box-3 {
  background-color: blue;
}

.box-4 {
  background-color: brown;
}

.box-5 {
  background-color: coral;
  /* align-items: stretch;
  align-self: stretch; */

}

.box-6 {
  background-color: darkblue;
}

.box-7 {
  background-color: darkred;
}

.box-8 {
  background-color: darkslategray;
}

.box-9 {
  background-color: gray;
}

.box-10 {
  background-color: navy;
}
