* {
  box-sizing: border-box;
}

.container {
  background-color: lightblue;
  min-height: 60vh;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  /* gap: 10px; */
  column-gap: 1rem;
  row-gap: 1rem;
}

.box {
  background-color:  brown;
  color: white;
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 20px 0;
}
.anand {
  grid-column-start: 4;
  grid-row-start: 4;
  grid-column-end: 5;
  background-color: green;
  grid-row-end: 4;
}
 @media screen and (max-width: 600px) {
  .container {
      grid-template-columns: 1fr 1fr;
   }
  }
